.bx--overflow-menu-options--open {
  max-height: 31rem;
  overflow-y: scroll;
}

.bx--table-settings-menu__title {
  font-weight: 600;
  padding: 1rem 1.25rem 0.5rem 1.25rem;
}

.bx--table-settings-menu__option {
  padding: 0 1.25rem;
}

.bx--table-settings-menu__option:last-child {
  padding-bottom: 0.5rem;
}

.bx--overflow-menu-options button:last-child {
  margin-top: 1rem;
  width: 100%;
  position: sticky;
  bottom: 0;
}
